.App {
  text-align: center;
}

.App-header {
  background-image: url('https://cdn.dribbble.com/userupload/5427227/file/original-bcd3fb28935ea4b65fade7d0fb848226.jpg?resize=1024x768');
  min-height: 70px;
  padding: 20px;
  color: black;
  background-position: center 30%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

pre {
  white-space: pre-wrap;
}

.imageLogo {
  display: flex;
  justify-content: flex-end;
}
